.reveal section .no-fuzz {
  border: none;
  background: none;
  box-shadow: none;
}

.reveal iframe {
  display: inline-block;
  border: none;
  height: 200px;
  width: 400px;
  margin: 10px;
}

textarea {
  height: 380px; width: 380px; margin: 0; border: none;
  background: #111;
  font-size: 0.8em;
  color: #ddd;
  padding: 10px;
}

textarea:focus {
  border: none;
  outline: none;
}